{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row" id="flex">
    {% for movie in watch_later_movies %}
    <a href="{% url 'lab-10:movie_detail' movie.imdbid %}">
     <img class="hvr-fade"id="moviePoster"src="{{ movie.poster }}" />
    </a>

    {% endfor %}
</div>
{% endblock %}
